flask
flask-cors
python-dotenv
PyPDF2
fpdf
python-docx
requests
langchain
langchain-openai
langchain-google-genai
langchain-ollama
langgraph
beautifulsoup4
pdfminer.six
pytesseract
pdf2image
undetected-chromedriver
curl-cffi
duckduckgo-search
googlesearch-python
playwright
pymongo
selenium
waitress
